<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    PrimerMVT

    <p style="color: red">Mi nombre es: {{Nombre}}</p>
    <p style="color: rgb(255, 0, 212)">Mi apellido es: {{Apellido}}</p>
    <p style="color: rgb(20, 34, 155)">Mi Telefono es: {{Telefono}}</p>
    <p style="color: rgb(22, 168, 22)">Mi mail es: {{Mail}}</p>
    <p style="color: rgb(167, 184, 13)">Mi cumple es: {{Fecha_de_Nacimiento}}</p>
</body>
</html>